/* body {
    background:
    radial-gradient(black 15%, transparent 16%) 0 0,
    radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color:#282828;
    background-size:16px 16px;
    opacity: .7;
} */

.panel.panel-default {
    margin-top: 50px;
    text-align: center;
}

.navbar-default {
    color: black;
    font-family: 'Archivo Black', sans-serif;
    background: #fff;
}

header {
    color: black;
}

a.navbar-brand {
    background: darkgray;
    font-size: 28px;

}

h1 {
    color: white;
    padding-top: 45px;
}

.p1 {
    color: white;
    font-size: 20px;
}

.caption {
    text-align: center;
    position: relative;
    bottom: 55px;
    color: black;
    background: lightgray;
}

.gallery {
    text-align: center;
}

li {
    font-weight: bold;
}

.col-md-4 {
    margin-top: 4%;
    margin-bottom: 10%;
}

label {
    color: white;
}


/*Wanted to use this to keep the nav tabs at top right. The collapse feature needs two js plugins that I could not figure out.*/
@media screen and (max-width: 768) and (min-width: 0px) {
    
}